@{
    ViewData["Title"] = "Files Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @foreach (var file in ViewBag.Files!)
    {
        <p><a asp-controller="File" asp-action="FileContent" asp-route-id="@file">@file</a></p>

    }
</div>
