@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JinRong (Lucas) Jian</h1>
    <h2>A01309583</h2>
    <p>When I graduate, I want to be a Full-Stack Developer.</p>
</div>
